.outerWrapper {
  color: gray;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 7px;
  padding-bottom: 7px;
  top: 0;
  z-index: 100;
}

.headerWrapper {
  margin: 0;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #13131cff;
  max-height: 70px;
  transition: max-height 1s ease;
  overflow: hidden;
  opacity: 0.85;
  z-index: 100;
}

.headerWrapper.expanded {
  max-height: 800px;
  padding-bottom: 20px;
  opacity: 1;

  /* transition: max-height 1s  ease; */
}

.outerWrapper ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.navElement {
  color: #e0e0e0;
  margin-right: 35px;
  font-size: 11px;
  cursor: pointer;
  list-style: none;
}
.navElement:hover {
  color: white;
}
ul.header li a {
  text-decoration: none;
  color: #e0e0e0;
  font-size: 11px;
}
ul.header li a:hover {
  color: white;
}
